PORT=3000
DATABASE_URL=postgresql://use:password@localhost:5432/db-name
JWT_SECRET=pon_un_secreto_de_minimo_32_caracteres
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=otro_secreto_de_minimo_32_caracteres
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=development