# Server Configuration
NODE_ENV=
PORT=

# Database
DATABASE_URL=

# Authentication - Access Token
JWT_SECRET=
JWT_EXPIRES_IN=

# Authentication - Refresh Token
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Logging
LOG_FORMAT=